{% load staticfiles %}
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
  		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
		<title>HTTP Torpedo</title>
	</head>
	<body>
		<div>
    		{% if user.is_anonymous %}
    		<a href="{% url 'login' %}">login</a>
    		{% else %}
    		{{ user }}
    		<a href="{% url 'logout' %}">logout</a>
    		{% endif %}
    	</div>
    	<div class="content">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>