{% extends "base.html" %}
{% block content %}
<h1>HTTP Torpedo</h1>
<hr />

<form action="{% url 'upload_log' %}" method="post">
	{% csrf_token %}
	<div class="input-container">
		<label for="log">Select log file</label>
		<input class="input-field" type="file" name="log" id="log" />
		<label for="requests">Number of requests per session</label>
		<input class="input-field" type="number" name="requests" id="requests" />
		<label for="parallel">Number of parallel sessions</label>
		<input class="input-field" type="number" name="parallel" id="parallel" />
		<label for="rate">Delay in ms</label>
		<input class="input-field" type="number" name="rate" id="rate" />


		<label>Source regions</label>

		<div class="regions">
			<div class="checkbox-group">
				<label class="checkbox-label" for="us-east-1">
					<input type="checkbox" name="us-east-1" id="us-east-1" />US East (N. Virginia)
				</label>
			</div>
			<div class="checkbox-group">
				<label class="checkbox-label" for="us-west-2">
					<input type="checkbox" name="us-west-2" id="us-west-2" />US West (Oregon)
				</label>
			</div>
			<div class="checkbox-group">
				<label class="checkbox-label" for="us-west-1">
					<input type="checkbox" name="us-west-1" id="us-west-1" />US West (N. California)
				</label>
			</div>
			<div class="checkbox-group">
				<label class="checkbox-label" for="eu-west-1">
					<input type="checkbox" name="eu-west-1" id="eu-west-1" />EU (Ireland)
				</label>
			</div>
			<div class="checkbox-group">
				<label class="checkbox-label" for="eu-central-1">
					<input type="checkbox" name="eu-central-1" id="eu-central-1" />EU (Frankfurt)
				</label>
			</div>
			<div class="checkbox-group">
				<label class="checkbox-label" for="ap-southeast-1">
					<input type="checkbox" name="ap-southeast-1" id="ap-southeast-1" />Asia Pacific (Singapore)
				</label>
			</div>
			<div class="checkbox-group">
				<label class="checkbox-label" for="ap-southeast-2">
					<input type="checkbox" name="ap-southeast-2" id="ap-southeast-2" />Asia Pacific (Sydney)
				</label>
			</div>
			<div class="checkbox-group">
				<label class="checkbox-label" for="ap-northeast-1">
					<input type="checkbox" name="ap-northeast-1" id="ap-northeast-1" />Asia Pacific (Tokyo)
				</label>
			</div>
			<div class="checkbox-group">
				<label class="checkbox-label" for="sa-east-1">
					<input type="checkbox" name="sa-east-1" id="sa-east-1" />South America (Sao Paulo)
				</label>
			</div>
		</div>

		<input class="input-button" type="submit" value="Hit me!" />
	</div>
</form>

{% endblock %}