{% extends "base.html" %}
{% block content %}
<h1>HTTP Torpedo</h1>
<hr />

<form action="{% url 'upload_log' %}" method="post">
	<div class="input-container">
		<label for="log">Select log file</label>
		<input class="input-field" type="file" name="log" />
		<label for="rps">Requests per second</label>
		<input class="input-field" type="number" name="rps" />
		<label for="duration">Duration in seconds</label>
		<input class="input-field" type="number" name="duration" />
		<input class="input-button" type="submit" value="Hit me!" />
	</div>
</form>
{% endblock %}